
@font-face {
  font-family: Inter;
  src: url(../assets/fonts/Inter_18pt-Regular.ttf);
}


#footer {
  display: flex;
  flex-direction: column;
  font-family: Inter;
  padding: 50px;
  color: #0A2540;
  margin-right: 100px;
  background-color: #ffff; /* Optional styling */
}

#title-container{
  margin: 0px;
  margin-right: 50px;
  margin-left: 50px;
}
#titles p {
  font-size: 14px;
}

#footer-list {
  display: flex;
  justify-content: center;
}

#footer-list ul {
  list-style: none;
  margin: 0;
  margin-right: 100px;
}

#footer-list ul li{
  margin: 4px;
  font-size: 14px;
  line-height: 24px;
}

.copyright {
  padding: 10px 0;
  margin-left: 50px;
  font-size: 14px;
}

.separator{
  width: 1px; 
  height: 100vh;
  background: linear-gradient(#424770, #0000);; /* Line color */
  border: none;
  margin: 0;
}

.separator-list {
  width: 1px; 
  height: 50vh;
  background: linear-gradient(#424770, #0000);; /* Line color */
  border: none;
  margin: 0;
}

#footer-list ul:last-child {
  margin-left: 0;
}

.arrow {
  display: inline-block;
  margin-right: 5px;
  transform: rotate(-45deg);
}


