/* Remove default margins and padding from html and body */
@font-face {
  font-family: Inter;
  src: url(../assets/fonts/Inter_18pt-Regular.ttf);
}

* {
  font-family: Inter;
}

/* Full viewport height and width with a linear gradient background */
.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: #0f2027;
  background: -webkit-linear-gradient(to top, #0f2027, #203a43, #2c5364);
  background: linear-gradient(to top, #0f2027, #203a43, #2c5364);
  color: rgb(49, 98, 127);
  position: relative;
  overflow: hidden; /* Prevent overflow of content */
}

/* Globe container on the right side */
.globe-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 65%; /* Adjust to cover half of the screen */
  height: 100%;
  z-index: 2;
}

/* The canvas where the globe will render */
.canvas {
  width: 100%;
  height: 100%;
}

/* Content section on the left */
#global-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10%; /* Ensure content doesn't overlap with the globe */
  margin-right: 5%; /* Optional padding */
  flex-grow: 1;
  z-index: 1;
  padding: 20px; /* Optional padding to adjust the content */
}

#global-scale{
  font-size: 17px;
  color: #00D4FF;
}

#global-backbone{
  color: white;
  font-size: 35px;
  line-height: 48px;
}

#global-content {
  color: #ADBDCC;
  font-size: 17px;
  line-height: 28px;
}

/* Stats section styling */
#global-statistics {
  display: flex;
  width: 100%;
  z-index: 3;
}

#global-statistics h3 {
  color: #FFFFFF;
  font-size: 24px;
  line-height: 32px;
  
  
}

#global-statistics p {
  color: #ADBDCC;
  line-height: 24px;
}

.vl {
  border-left: 1px solid #00D4FF;
  height: 25px;
  margin: 25px;
  margin-left: 110px;
}


